# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor Stuff
*.idea/
*.vscode/
# Virtualenv
*.venv/
# Tokens
Token.py
OpenAiKey.py
spotify_tokens.py
*.env
/jsons/instagram_session.json
# Any log files
*.log
# Any kind of cache
cache/
__pycache__/
.vscode/settings.json

# Personal Data Storage
downloads/
birthdays.json
jsons/birthday_guild.json
jsons/birthday_config.json
jsons/customizations.json
