# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor Stuff
*.idea/
*.vscode/
# Tokens
Token.py
OpenAiKey.py
spotify_tokens.py
*.env
# Any log files
*.log
# Any kind of cache
cache/
__pycache__/
birthdays.json
